.auth {
	display: block;
}
.auth__submit {
	margin-top: 10px;
	text-align: center;
    
    .button {
        color: #fff;
        padding: 15px;
        width: 30%;
        background: #f0916d;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        
        &:hover {
            background: #e28967;
        }
    }
}