* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a,
button,
input,
textarea,
select {
	outline: none;
}

input,
button,
select,
textarea {
	font-family: 'Roboto', sans-serif;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #c5dcea;
}
.chat {
	width: 600px;
	margin: 50px auto;
	background: #f2f6f9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.chat__inner {
	border-bottom: 2px solid #fff;
}
.chat__footer {
	padding: 30px;
}

.input {
	width: 100%;
	padding: 15px;
	border: 1px solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.textarea {
	resize: none;
	width: 100%;
	padding: 15px;
	border: 1px solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.button {
	border: 0;
	background: transparent;
	cursor: pointer;
	width: auto;	
	font-size: 16px;
	font-weight: bold;		
	text-transform: uppercase;	
	transition: all .6s ease;	
}

::-webkit-input-placeholder {
	transition: opacity .4s ease;
    color: #a9a9a9;
}
::-moz-placeholder {
	transition: opacity .4s ease;
    color: #a9a9a9;
}
:-moz-placeholder {
	transition: opacity .4s ease;
    color: #a9a9a9;
}
:-ms-input-placeholder {
    color: #a9a9a9;
}
:focus::-webkit-input-placeholder {
	transition: opacity .4s ease;
    opacity: 0;    
}
:focus::-moz-placeholder {
    opacity: 0;
}
:focus:-moz-placeholder {
    opacity: 0;
}
:focus:-ms-input-placeholder {
    opacity: 0;
}