div.chat
    div.chat__container
        div.chat__inner.js-chat-inner
        div.chat__footer.js-chat-footer
            div.message-create
                div.message-create__textarea.js-textarea
                div.message-create__submit.js-submit