ol.chat
	each mess in messages
		li(class= mess.self)
			if (mess.self!="none")
				div.msg
					div.user= mess.username
					each str in mess.text
						p= str
					time= mess.time 
			else 
				p.notification= mess.text

