.message {
	margin-bottom: 30px;
}
.message__header {
    color: #484654;
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
    
    &:after {
        content: '';
        width: 10px;
        height: 10px;
        background: #000;
        position: absolute;
        top: 50%;
        transform: translateY(-40%);
        border-radius: 100%;
    }
}
.message__body {
    padding: 20px;
    color: #fff;
    line-height: 110%;
    position: relative;
    border-radius: 5px;
    
    &:before {
        content: '';
        top: -10px;
        position: absolute;        
        width: 0; 
        height: 0; 
        border-style: solid;
        border-width: 0 10px 10px 10px;
    }
}

.message_receive {
    .message__header {
        text-align: right;
        padding-right: 20px;
        
        &:after {
            right: 0;
            background: #95c2ec;
        }
    }
    
    .message__body {
        background: #95c2ec;
        margin-left: 70px;
        
        &:before {
            right: 10px;
            border-color: transparent transparent #95c2ec transparent;
        }
    }
    
}

.message_send {
    .message__header {
        text-align: left;
        padding-left: 20px;
        
        &:after {
            left: 0;
            background: #87bb71;
        }
    }
    
    .message__body {
        background: #87bb71;
        margin-right: 70px;
        
        &:before {
            left: 10px;
            border-color: transparent transparent #87bb71 transparent;
        }
    }
}