mixin messageItemRecieve()
    div.message.message_receive
        div.message__header= user
        div.message__body= message
        
mixin messageItemSend()
    div.message.message_send
        div.message__header= user
        div.message__body= message

if isOwner
    +messageItemRecieve()
else
    +messageItemSend()